{% extends 'base.html' %}
{% block content %}
<h2>Frequently Asked Questions</h2>

<h4>Where are you based?</h4>
<p>We are based in Sofia, Bulgaria.</p>

<h4>Do you ship internationally?</h4>
<p>At the moment we only ship within Bulgaria, but we're working on expanding soon!</p>

<h4>What delivery service do you use?</h4>
<p>We deliver with DHL for fast and reliable service.</p>

<h4>What types of payment do you accept?</h4>
<p>We accept cash on delivery and card payments.</p>

<h4>Can I return a product?</h4>
<p>Yes, you can return any unused product within 14 days of delivery.</p>

{% endblock %}
